@model BlogCount

@using System.Text.RegularExpressions;
@using System.IO;

@functions {
    public string InsertImageUrls(string description)
    {
        string uploadsFolder = "/images/blogs/"; // The folder where images are uploaded on the server.

        // Find all occurrences of <img> tags in the content.
        var imgTags = new Regex(@"<img.*?>").Matches(description);
        foreach (Match imgTag in imgTags)
        {
            // Extract the 'src' attribute value from the <img> tag.
            var srcAttribute = new Regex(@"src\s*=\s*""([^""]*)""").Match(imgTag.Value);
            if (srcAttribute.Success)
            {
                string oldImageUrl = srcAttribute.Groups[1].Value;

                // Use the Path.GetFileName to get the filename from the URL.
                string filename = System.IO.Path.GetFileName(oldImageUrl);

                // Construct the new image URL with the correct relative path.
                string newImageUrl = $"{uploadsFolder}{filename}";

                // Replace the temporary URL with the correct server URL.
                description = description.Replace(oldImageUrl, newImageUrl);

            }
        }

        return description;
    }
}

@*
<form method="post">
        <div class="card  container pt-4">
            <div class="card-header bg-primary text-light ml-0  row ">
                <div class="col-12 col-md-6">
                    <h1 class="text-white-50">@Model.Blog.Title</h1>
                    <p class="text-warning">by @Model.Blog.Author</p>
                </div>
                <div class="col-12 col-md-6 text-end pt-4">
                    <span class="badge bg-info pt-2" style="height:30px;">@Model.Blog.CoverType.Name</span>
                    <span class="badge bg-warning pt-2" style="height:30px;">@Model.Blog.Category.Name</span>
                </div>
            </div>
            <div class="card-body row container">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">


                            <div class="row pl-2">
                            <p class="text-secondary">@Html.Raw(InsertImageUrls(Model.Blog.Description))</p>
                            </div>

                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img src="@Model.Blog.ImageUrl" width="100%" class="rounded" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a class="btn btn-success form-control " style="height:50px;" asp-action="Index">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
</form>
*@

<div class="container">

    <!-- NEWS DETAIL -->
    <section id="news-detail" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-7">
                    <!-- NEWS THUMB -->
                    <div class="news-detail-thumb">
                        <p class="text-secondary" style="max-width" >@Html.Raw(InsertImageUrls(Model.Blog.Description))</p>
                        <div class="news-social-share">
                            <h4>Chia sẻ bài viết</h4>
                            <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>Facebook</a>
                            <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>Twitter</a>
                            <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>Google+</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-5">
                    <div class="news-sidebar">
                        <div class="news-author">
                            <h4>Tác giả</h4>
                            <p>@Model.Blog.Author</p>
                        </div>



                        <div class="news-categories">
                            <span><h4>Danh mục: </h4><h5>@Model.Blog.Category.Name</h5></span>
                        </div>

                        <div class="news-ads sidebar-ads">
                            <img src="~/images/logo/Logo.png" class="img-responsive" style="max-height: 200px;"/>
                        </div>

                        <div class="news-tags">
                            <h4>Tags</h4>
                            <ul>
                                <li><a href="#">Thai kì</a></li>
                                <li><a href="#">Sức khỏe</a></li>
                                <li><a href="#">Dược</a></li>
                                <li><a href="#">Y tế</a></li>
                                <li><a href="#">Bác sĩ</a></li>
                                <li><a href="#">Xã hội</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


</div>